:root {
  --border-color: #2c3a49;
  --border: 4px solid var(--border-color);
  --border-radius: 3px;
  --bow-color: #ff6d4d;
}
body {
  background: #25d2ff;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.present {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  position: relative;
}

.lid {
  height: 20px;
  border: var(--border);
  width: calc(100% + 10px);
  border-radius: var(--border-radius);
  background-color: #32c67f;
}
.box {
  width: 100%;
  border: var(--border);
  border-top: 0;
  /* box-shadow: inset -5px 5px rgba(0,0,0, .3); */
  height: 100px;
  position: relative;
  background-color: #32c67f;

  background-image: radial-gradient(rgb(255, 255, 255) 30%, transparent 30%),
    radial-gradient(rgb(255, 255, 255) 30%, transparent 30%);
  background-position: 0px 0px, 25px 25px;
  background-size: 50px 50px;
  /* background-color: rgb(202, 205, 94); */
}
.box::before {
  box-shadow: inset -5px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 2;
  content: "";
  height: 100%;
  width: 100%;
}
.ribbon {
  width: 30px;
  height: calc(100% - 5px);
  border: var(--border);
  border-radius: var(--border-radius);
  position: absolute;
  top: -2px;
  background: var(--bow-color);
  box-shadow: inset 2px 2px rgba(255, 255, 255, 0.8);
}
.bow {
  position: absolute;
  top: -20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: var(--border);
  background-color: var(--bow-color);
  box-shadow: inset 2px 2px rgba(255, 255, 255, 0.8),
    inset -5px -2px rgba(0, 0, 0, 0.3);
}

.bow::before,
.bow::after {
  display: block;
  content: "";
  position: absolute;
  top: -15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: var(--border);
  background-color: var(--bow-color);
  box-shadow: inset 2px 2px rgba(255, 255, 255, 0.8),
    inset -5px -2px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.bow::before {
  left: 15px;
}
.bow::after {
  right: 15px;
}

:root {
  --count-animate: 5;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 50px;
$max_font: 150px;

body {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
#happyBirthdaySong {
    // display: none;
    // opacity: 0;
}
#startBtn {
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
}
#number {
  span {
    display: inline-block;
    color: white;
    font-weight: bolder;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    display: none;

    &.counting-text {
      animation-name: counting;
      animation-duration: 1s;
      animation-delay: 0.5s;
      animation-fill-mode: both;
      animation-iteration-count: var(--count-animate);

      @keyframes counting {
        0% {
          transform: scale(1);
          opacity: 1;
        }
        50% {
          transform: scale(0.5);
          opacity: 0;
        }
        100% {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
p {
  margin: 0 0;
  position: absolute;
  font: 16px Verdana;
  color: #eee;
  height: 25px;
  top: calc(100vh - 30px);
  text-shadow: 0 0 2px white;
}
p a {
  text-decoration: none;
  color: #aaa;
}
span {
  font-size: 11px;
}
p > a:first-of-type {
  font-size: 20px;
}
body {
  overflow: hidden;
}

.cake-container {
  display: none;
  #real-cake {
    display: none;
    position: relative;
    margin: -20em auto 0 auto;
  }

  /* ============================================== Candle
  */

  .white {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.4px;
    margin-top: -8.33333333px;
    width: 5px;
    height: 35px;
    transform: translate(0, -80%)!important;
    // transform: translateY(-300px);

    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
  }
  .white:after,
  .white:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 2.22222222px;
  }
  .white:after {
    top: 25%;
    left: 0;
  }
  .white:before {
    top: 45%;
    left: 0;
  }

  .fuego {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
  }
  .fuego:nth-child(1) {
    animation: fuego 2s 2.5s infinite;
  }
  .fuego:nth-child(2) {
    animation: fuego 1.5s 2.5s infinite;
  }
  .fuego:nth-child(3) {
    animation: fuego 1s 2.5s infinite;
  }
  .fuego:nth-child(4) {
    animation: fuego 0.5s 2.5s infinite;
  }
  .fuego:nth-child(5) {
    animation: fuego 0.2s 2.5s infinite;
  }

  @keyframes fuego {
    0%, 100% {
      background: rgba(254, 248, 97, 0.5);
      box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
      transform: translateY(0) scale(1);
    }
    50% {
      background: rgba(255, 50, 0, 0.1);
      box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
      transform: translateY(-20px) scale(0);
    }
  }

  @keyframes in {
    to {
      transform: translateY(0);
    }
  }
}

#overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 300px;
  height: 300px;
  background-color: #111111;
}

.gif {
  position: absolute;
  width: 200px;
  border-radius: 50%;
  opacity: 0;
  width: 0;
  rotate: 360deg;
  transition: opacity 1s, width 2s, rotate 2s ease-in;

  &.chick {
    left: 30%;
  }
  &.pup {
    right: 30%;
  }
  &.show {
    opacity: 1;
    width: 200px;
    transform: rotate3d(0, 1, 0, 360deg);
    rotate: 0deg;
  }
}

.card {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  background-color: lightgoldenrodyellow;
  color: black;
  width: 1000px;
  height: 500px;
}

.book-container {
  position: absolute;
  opacity: 0;
  transition: width 0.8s, height 0.8s, opacity 0.5 ease-in-out;
  width: 0;
  height: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  background-color: white;
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  &.show {
    margin: 50px auto;
    opacity: 1;
    width: 800px;
    height: 600px;
  }
}


.page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform-origin: left center; /* For flipping from the left edge */
  transition: transform 0.8s ease-in-out;
  backface-visibility: hidden; /* Hide the back of the page during flip */
}

/* Style for the flipped page */
.page.flipped {
  transform: rotateY(-180deg);
}
#showBookBtn {
  opacity: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}